.title-logo {
  text-transform: uppercase;
}

.navbar {
  background-color: #ff93b3 !important;
  z-index: 10 !important;
}

.nav-items {
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
}

.cursor{
  cursor: pointer;
  color: white;
}

.text-decorator-none{
  text-decoration: none;
}
