.title-logo{
    text-transform: uppercase;
}

.navbar{
    background-color: #fcacd1;
}

.nav-items{
    color: white;
    padding: 0 10px;
}

.settings-menu{
    color: #fcacd1;
    font-size: 14px;
    text-decoration: none;
}